.seat {
    background-color: #fff;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    display: block;
    margin: 2px 2px 2px 2px;
    border: 0px;
    color: white !important;
    font-weight: bold !important;
}

.seat1 {
    background-color: #fff;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    display: block;
    margin: 2px 2px 2px 2px;
    border: 0px;
}

.vipSeat {
    background-color: #d4b15f;
}

.normalSeat {
    background-color: #4e73df;
}

.seat.normalSeat.selectingSeat {
    background-color: #00b300;
}

.seat.vipSeat.selectingSeat {
    background-color: #00b300;
}

.seat.vipSeat.taken {
    cursor: not-allowed;
    background: repeating-linear-gradient( 45deg, rgba(212,177,95,.4), rgba(212,177,95,.4) 10px, rgba(212,177,95,.6) 0, rgba(212,177,95,.6) 20px)
}

.seat.normalSeat.taken {
    cursor: not-allowed;
    background: repeating-linear-gradient( 45deg, rgba(78, 115, 223,.4), rgba(78, 115, 223,0.4) 10px, rgba(78, 115, 223,.6) 0, rgba(78, 115, 223,.6) 20px)
}

.time {
    height: 70px;
    width: 50px;
    border: 1px solid;
}