@model MovieTheater.Models.Infra.Seat.SeatRow.SeatRowUpdateRequest

@{ ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="/SeatRow">Hàng ghế</a></li>
    <li class="breadcrumb-item active">Chi tiết</li>
</ol>

<div id="btnEdit" class="p-2">
    <a class="btn btn-success" href="javascript:enableElements()">Chỉnh sửa</a>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input id="input" asp-for="Name" class="form-control" disabled />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div id="btnSave" class="form-group d-flex justify-content-center invisible">
                        <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>function enableElements() {
        document.getElementById("input").disabled = false;
        document.getElementById("btnEdit").style.display = 'none';
        document.getElementById("btnSave").className = "form-group d-flex justify-content-center visible";
    }</script>


