@using MovieTheater.Models.Catalog.Film
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/signalr/signalr.js"></script>

<div class="section">
    <div class="container">
        <div class="section-header">
            Yêu cầu không khả dụng
        </div>
    </div>
</div>