@model MovieTheater.Models.Infra.RoomModels.RoomCreateRequest

@{ ViewData["Title"] = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="/Room">Phòng</a></li>
    <li class="breadcrumb-item active">Tạo mới</li>
</ol>

<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input id="input1" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="FormatId" class="control-label"></label>
                        <select asp-for="FormatId" asp-items="@ViewBag.RoomFormats" class="form-control"></select>
                    </div>
                </div>

            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
           
    </div>
</div>



