@model MovieTheater.Models.Infra.RoomModels.Format.AuditoriumFormatUpdateRequest

@{
    ViewData["Title"] = "Format";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/Room">Phòng</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/Room/RoomFormat">Định dạng phòng</a>
    </li>
    <li class="breadcrumb-item active">Chi tiết</li>
</ol>

<div id="btnEdit" class="p-2">
    <a class="btn btn-success" onclick="enableElements()">Chỉnh sửa</a>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="FormatEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" disabled/>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input id="input1" asp-for="Name" class="form-control" disabled/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div id="btnSave" class="form-group d-flex justify-content-center invisible">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>

<script>
    function enableElements() {
        document.getElementById("input1").disabled = false;
        document.getElementById("input2").disabled = false;
        document.getElementById("btnEdit").style.display = 'none';
        document.getElementById("btnSave").className = "form-group d-flex justify-content-center visible";
    }
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}