@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/signalr/signalr.min.js"></script>
<div class="container-fluid">

    @section Scripts{
        <script>
            setTimeout(function() {
                    $("#SuccessMeg").fadeOut('slow');
                },
                2000);
        </script>
    }

    @if (ViewBag.SuccessMsg != null)
    {
        <div id="SuccessMeg" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Doanh thu(Tháng)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="monthRevenue">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Doanh thu(Năm)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="yearRevenue">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Số lượt truy cập hiện tại
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="countAccess">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-eye fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="card">
        <div class="card-header">
            <p class="m-0 font-weight-bold text-primary">Kết quả kinh doanh trong tháng</p>
        </div>
        <div class="card-body">
            <div class="row">

                <!-- Area Chart -->
                <div class="col-md col-xl-6">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <p class="m-0 font-weight-bold text-primary">Top doanh thu</p>
                        </div>
                        <div class="card-body">
                            <canvas id="TopRevenueBar" class="chart-line"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md col-xl-6">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <p class="m-0 font-weight-bold text-primary">Hình thức</p>
                        </div>
                        <div class="card-body">
                            <canvas id="RevenueType" class="fa-chart-pie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',
        function() {

            // Start the connection.
            var connection = new signalR.HubConnectionBuilder()
                .withUrl('https://localhost:5002/countAccessHub',
                    {
                        skipNegotiation: true,
                        transport: signalR.HttpTransportType.WebSockets
                    })
                .build();

            connection.start().then(() => {
                    connection.invoke('AddToAdmin');
                })
                .catch(error => {
                    console.error(error.messageReservationHub);
                })
                ;
            connection.on('updateAccess',
                function(cnt) {
                    console.log(cnt);
                    var countAccess = document.getElementById("countAccess");
                    countAccess.innerHTML = cnt.toString();

                });

        });

    $(document).ready(function() {
        $.ajax({
            type: "GET",

            url: "/Statitic/GetTopRevenueFilm",
            success: function(res) {
                console.log(res);
                var chBar = document.getElementById("TopRevenueBar");

                if (chBar) {
                    Chart.defaults.global.datasets.bar.categoryPercentage = 0.95;
                    new Chart(chBar,
                        {
                            type: 'bar',
                            data: {
                                labels: res.lables,
                                datasets: [
                                    {
                                        label: '',
                                        data: res.dataRows[1]
                                    }
                                ]
                            },
                            options: {

                                plugins: {

                                    colorschemes: {

                                        scheme: 'tableau.Tableau20'

                                    }

                                },
                                title: {
                                    display: true,
                                    text: 'Danh thu'
                                }

                            }
                        });
                }
            }
        });
        $.ajax({
            type: "GET",

            url: "/Statitic/GetRevenueType",
            success: function(res) {

                var ctx = $("#RevenueType");
                var myLineChart = new Chart(ctx,
                    {
                        type: 'pie',
                        data: {
                            labels: res.lables,
                            datasets: [
                                {
                                    data: res.dataRows[1],
                                   
                                }
                            ]
                        },
                        options: {
                            plugins: {

                                colorschemes: {

                                    scheme: 'tableau.Tableau20'

                                }

                            },
                            title: {
                                display: true,
                                text: 'Kiểu đặt hàng'
                            }
                        }
                    });
            }
        });
        $.ajax({
            type: "GET",
            data: new Date().toLocaleString(),
            url: "/Statitic/GetRevenueByMonth",
            success: function(res) {

                var monthRevenue = document.getElementById("monthRevenue");
                monthRevenue.innerHTML = res.toLocaleString('vi-VN', {
                    style: 'currency',
                    currency: 'VND',
                });;

            }
        });
        $.ajax({
            type: "GET",

            url: "/Statitic/GetRevenueByYear",
            data: new Date().toLocaleString(),

            success: function(res) {

                var yearRevenue = document.getElementById("yearRevenue");
                yearRevenue.innerHTML = res.toLocaleString('vi-VN', {
                    style: 'currency',
                    currency: 'VND',
                });;

            }
        });

    })
</script>