@model MovieTheater.Models.Common.ChartTable.CalRevenueRequest
@using MovieTheater.Models.Common.ChartTable
@using AspNetCore.Reporting 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Thống kê</li>
</ol>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">

            <div class="ml-auto p-2">
                <div class="row">

                    <div>
                        <input id="startDate" class="form-control" type="date" />
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        <input id="endDate" class="form-control" type="date" />
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        <button onclick="loadFilmRevenue()" class="btn btn-primary">Tìm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                Top doanh thu
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Phim
                                </th>
                                <th>
                                    Doanh thu
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbbodyFilmRevenue">
                          
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" onclick="dowloadFilmRevenue(@((int)RenderType.Pdf))">Tải xuống file Pdf</a>
                <a class="btn btn-primary" onclick="dowloadFilmRevenue(@((int)RenderType.Excel))">Tải xuống file Excel</a>
            </div>
        </div>
    </div>
</div>




<script>
    function loadFilmRevenue() {
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;
        $.ajax({
            type: "GET",
            url: "/Statitic/GetTopRevenueFilm",
            data: { startDate: startDate, endDate: endDate },
            success: function (data) {
                document.getElementById("tbbodyFilmRevenue").innerHTML = "";
                str = "";
                for (var i = 0; i < data.lables.length; i++)
                {
                     str = "<tr><td>" + data.lables[i] + "</td><td>"
                           + data.dataRows[1][i].toString()+ "</td></tr>";
                }
                document.getElementById("tbbodyFilmRevenue").innerHTML = str;
                


            }
        });
    }
    function dowloadFilmRevenue(mode) {
        var fileName = "report";
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;
        $.ajax({
            type: "POST",
            url: "/Statitic/FilmRevenueReport",
            data: { startDate: startDate,endDate : endDate, renderType: mode },
            success: function (data) {
                var linkSource;
                var downloadLink;
                var fileName;

                switch (mode) {
                    case @((int)(RenderType.Pdf)) :
                        {
                            linkSource = `data:application/pdf;base64,${data}`;
                            downloadLink = document.createElement("a");
                            fileName = "TopDanhThu.pdf";
                            break;
                        }
                      case @((int)(RenderType.Excel)) :
                        {
                            linkSource = `data:application/excel;base64,${data}`;
                            downloadLink = document.createElement("a");
                            fileName = "TopDanhThu.xls";
                            break;
                        }
                }

                downloadLink.href = linkSource;
                downloadLink.download = fileName;
                downloadLink.click();

            }
        });
    }

</script>