@model MovieTheater.Models.Price.Surcharge.SurchargeCreateRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/SeatRow">Giá vé</a>
    </li>
    <li class="breadcrumb-item active">Tạo mới</li>
</ol>

<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="SeatType" class="control-label"></label>
                        <select asp-for="SeatType" asp-items="@ViewBag.SeatTypes" class="form-control" id="timeId"></select>
                        <span asp-validation-for="SeatType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="AuditoriumFormatId" class="control-label"></label>
                        <select asp-for="AuditoriumFormatId" asp-items="@ViewBag.AuditoriumFormats" class="form-control" id="auditoriumFormatId"></select>
                        <span asp-validation-for="AuditoriumFormatId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                @* <div class="col-md">
                    <div class="form-group">
                        <label asp-for="TimeId" class="control-label"></label>
                        <div class="row">
                            <div class="col-md">
                                <select asp-for="CustomerType" asp-items="@ViewBag.CustomerTypes" class="form-control chosen-select" id="customerTypeId" ></select>
                            </div>
                        </div>
                        <span asp-validation-for="TimeId" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" id="price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" type="date" id="fromTime"/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" type="date" id="toTime"/>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="btnSave" class="form-group d-flex justify-content-center">
                <input type="submit" value="Tạo mới" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>