@model MovieTheater.Models.Price.Surcharge.SurchargeUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/SeatRow">Giá vé</a>
    </li>
    <li class="breadcrumb-item active">Chi tiết</li>
</ol>

<div id="btnEdit" class="p-2">
    <a class="btn btn-success" href="javascript:enableElements()">Chỉnh sửa</a>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden/>
            <div class="form-row">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="SeatType" class="control-label"></label>
                        <select asp-for="SeatType" asp-items="@ViewBag.SeatTypes" class="form-control" id="seatTypeId" disabled=""></select>
                        <span asp-validation-for="SeatType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="AuditoriumFormatId" class="control-label"></label>
                        <select asp-for="AuditoriumFormatId" asp-items="@ViewBag.AuditoriumFormats" class="form-control" id="auditoriumFormatId" disabled=""></select>
                        <span asp-validation-for="AuditoriumFormatId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                @*<div class="col-md">
                    <div class="form-group">
                        <label asp-for="TimeId" class="control-label"></label>
                        <div class="row">
                            <div class="col-md">
                                <select asp-for="CustomerType" asp-items="@ViewBag.CustomerTypes" class="form-control chosen-select" id="customerTypeId" disabled></select>
                            </div>
                        </div>
                        <span asp-validation-for="TimeId" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" value="@Model.Price" class="form-control" id="price" disabled id="price" type="number" min="0" step="1">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" type="date" id="startDate" disabled/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" type="date" id="endDate" disabled/>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="btnSave" class="form-group d-flex justify-content-center invisible">
                <input type="submit" value="Cập nhật" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<script>
    function enableElements() {

        document.getElementById("auditoriumFormatId").disabled = false;
        document.getElementById("seatTypeId").disabled = false;
        document.getElementById("startDate").disabled = false;
        document.getElementById("endDate").disabled = false;
        document.getElementById("price").disabled = false;
        document.getElementById("btnEdit").style.display = 'none';
        document.getElementById("btnSave").className = "form-group d-flex justify-content-center visible";
    }
</script>

@if (ViewBag.IsEdit != null)
{
    <script>
        enableElements();
    </script>
}